.bilhetes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('https://wallpaper.dog/large/977273.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
  }
  
  .bilhetes-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .bilhetes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste para colunas adaptativas */
    gap: 20px;
    justify-content: center; /* Centraliza o grid horizontalmente */
  }
  
  .bilhete-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Garante que o card use toda a largura disponível */
    max-width: 300px; /* Define uma largura máxima para o card */
    cursor: pointer; /* Adiciona um cursor de ponteiro para indicar que o card é clicável */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
  }
  
  .bilhete-card:hover {
    background-color: #e7f0ff; /* Cor de fundo azul clara no hover */
  }
  
  .bilhete-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .bilhete-body {
    width: 100%;
  }
  
  .bilhete-info {
    margin-bottom: 10px;
  }
  
  .bilhete-info div {
    margin-bottom: 5px;
  }
  
  .bilhete-info strong {
    color: #333;
  }
  
  .bilhete-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .bilhete-card svg {
    color: #007bff;
    font-size: 24px;
  }
  