.editar-veiculo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #fff; /* Cor do texto em plano de fundo escuro */
    background: #1a1a1a; /* Cor de fundo escuro para contraste */
    min-height: 100vh;
    padding: 20px;
  }
  
  .editar-veiculo-content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #2a2a2a; /* Cor de fundo para contraste */
    padding: 20px;
    border-radius: 8px;
  }
  
  .editar-veiculo-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e0e0e0; /* Cor clara para o texto das labels */
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #333; /* Cor da borda mais escura */
    border-radius: 5px;
    background-color: #2a2a2a; /* Cor de fundo para os campos de entrada */
    color: #ddd; /* Cor do texto dentro dos campos de entrada */
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  